@media (max-width: 992px) {
  header {
    height: 100vh;
    color: white;
    text-align: center;
    width: 100vw;
  }

  /* Main */

  main {
    height: 100vh;
    width: 100vw;
    background-color: #191919;
    color: white;
  }

  /* First Section */

  .firstsec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }

  .firstsec article {
    width: 100vw;
    margin: 0px auto;
    display: flex;
    justify-content: center;
  }

  .firstsec h1 {
    margin: 0 auto;
    text-align: center;
  }

  .firstsec img {
    margin: 0px 2vw;
    padding: auto;
  }
}

@media (max-width: 768px) {
  header h1 {
    font-size: 5em;
  }

  header h3 {
    font-size: 1.5em;
    width: 500px;
    margin: auto;
  }

  /* First Section */
  .firstsec h1 {
    margin-top: 10vw;
  }

  .firstsec .txt {
    height: 50vw;
    align-items: center;
    font-size: 0.8em;
  }

  .firstsec img {
    height: 200px;
    width: 300px;
    margin-left: 60px;
  }

  /* Second Sect */

  .secondsec h1 {
    font-size: 3em;
  }

  .secondsec .cortes {
    font-size: 0.8em;
  }

  .secondsec a {
    font-size: 0.9em;
    padding: 10px 15px;
    width: 130px;
  }

  /* Carrossel e Third Sec */

  .slider {
    margin: 1vh auto;
    width: 600px;
    height: 300px;
    overflow: hidden;
  }

  .slider img {
    width: 100%;
  }

  .manual-navigation {
    width: 250px;
    margin-top: -21vh;
    margin-left: 25vw;
  }

  .navigation-auto {
    width: 250px;
    margin-top: 42.6vh;
    margin-left: 25vw;
  }

  .manual-btn:hover {
    background-color: transparent;
  }
}

@media (max-width: 576px) {
  header {
    height: 100vh;
    color: white;
    text-align: center;
    width: 100vw;
    background-size: cover;
    font-size: 0.8em;
  }

  header a {
    width: 140px;
  }

  header h3 {
    font-size: 1.5em;
    width: 390px;
  }

  /* First Sec */

  .firstsec {
    height: 100vh;
  }

  .firstsec article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .firstsec h1 {
    margin-top: 10px;
    margin: 0px auto;
    padding-top: 25px;
    font-size: 2.6em;
  }

  .firstsec img {
    display: block;
    margin: 0px auto;
    width: 400px;
  }

  .texto {
    margin: 0px 10px;
  }

  .texto p {
    height: 80px;
    width: 25vw;
  }

  .txt {
    width: 90vw;
    height: 80vh;
    display: flex;
    padding: 0px 20px;
    margin-left: 16vw;
  }

  /* Second Section */

  .secondsec {
    font-size: 0.8em;
  }

  .secondsec article {
    margin: 50px auto;
  }

  .secondsec a {
    font-size: 1.2em;
    margin-top: 90px;
  }

  /* Carrossel e Third Sec */

  .slider {
    margin: 1vh auto;
    width: 500px;
    height: 300px;
    overflow: hidden;
  }

  .slider img {
    width: 100%;
  }

  .manual-navigation {
    width: 250px;
    margin-top: -21vh;
    margin-left: 25vw;
  }

  .navigation-auto {
    width: 250px;
    margin-top: 42.6vh;
    margin-left: 25vw;
  }

  .manual-btn:hover {
    background-color: transparent;
  }

  /* Footer */
  .footer {
    padding: 0px;
  }

  .footer p {
    padding: 6px;
    font-size: 0.9em;
  }
}

@media (max-width: 375px) {
  header {
    height: 80vh;
    color: white;
    text-align: center;
    width: 100vw;
    background-size: cover;
    font-size: 0.6em;
  }

  header a {
    width: 120px;
  }

  header h3 {
    font-size: 1.5em;
    width: 300px;
  }

  /* First Sec */

  .firstsec {
    height: 85vh;
  }

  .firstsec article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .firstsec h1 {
    margin-top: 10px;
    margin: 0px auto;
    padding-top: 75px;
    font-size: 2.6em;
  }

  .firstsec img {
    display: block;
    margin: 0px auto;
    width: 300px;
  }

  .texto {
    margin: 10px;
    font-size: 0.9em;
    width: 100px;
    text-align: justify;
    padding: 0;
  }

  .texto p {
    height: 80px;
    width: 25vw;
  }

  .texto h3 {
    margin-bottom: 10px;
  }

  .txt {
    width: 375px;
    height: 80vh;
    display: flex;
    margin: 0px;
  }

  #tt1::before {
    content: none;
  }
  #tt2::before {
    content: none;
  }

  #tt3::before {
    content: none;
  }

  /* Second Section */
  .cortesquare {
    padding-left: 20px;
  }

  .secondsec p {
    font-size: 1.4em;
  }

  .secondsec article {
    margin: 50px auto;
  }

  .secondsec a {
    font-size: 1.2em;
    margin-top: 50px;
  }

  /* Carrossel e Third Sec */
  .carousel {
    font-size: 0.6em;
    height: 70vh;
  }

  .slider {
    margin: 1vh auto;
    width: 350px;
    height: 200px;
    overflow: hidden;
  }

  .slider img {
    width: 100%;
  }

  .manual-navigation {
    width: 250px;
    margin-top: -29.4vh;
    margin-left: 15vw;
  }

  .navigation-auto {
    width: 250px;
    margin-top: 22.9vh;
    margin-left: 15vw;
  }

  .manual-btn:hover {
    background-color: transparent;
  }

  /* Footer */
  .footer p {
    font-size: 0.8em;
  }
}

@media (max-width: 320px) {
  header {
    height: 100vh;
    color: white;
    text-align: center;
    width: 100vw;
    background-size: cover;
    font-size: 0.5em;
  }

  header a {
    width: 120px;
    font-size: 2em;
  }

  header h3 {
    font-size: 1.7em;
    width: 290px;
  }
  /* First Sec */

  .firstsec {
    height: 100vh;
  }

  .firstsec article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .firstsec h1 {
    margin-top: 10px;
    margin: 0px auto;
    padding-top: 75px;
    font-size: 2.6em;
  }

  .firstsec img {
    display: block;
    margin: 0px auto;
    width: 300px;
  }

  .texto {
    margin: 10px;
    font-size: 0.9em;
    width: 100px;
    text-align: justify;
    padding: 0;
  }

  .texto p {
    height: 80px;
    width: 25vw;
  }

  .texto h3 {
    margin-bottom: 10px;
  }

  .txt {
    width: 305px;
    height: 80vh;
    display: flex;
    margin: 0px;
    padding: 0;
  }

  #tt1::before {
    content: none;
  }
  #tt2::before {
    content: none;
  }

  #tt3::before {
    content: none;
  }
  /* Second Section */
  .cortesquare {
    padding: 0px 20px;
  }

  .secondsec h1 {
    padding-top: 40px;
  }

  .secondsec p {
    font-size: 1.4em;
  }

  .secondsec article {
    margin: 0px auto;
  }

  .secondsec a {
    font-size: 1.2em;
    margin-top: 20px;
  }
  /* Carrossel e Third Sec */
  .carousel {
    font-size: 0.6em;
    height: 70vh;
  }

  .slider {
    margin: 1vh auto;
    width: 300px;
    height: 200px;
    overflow: hidden;
  }

  .slider img {
    width: 100%;
  }

  .manual-navigation {
    width: 250px;
    margin-top: -43vh;
    margin-left: 10vw;
  }

  .navigation-auto {
    width: 250px;
    margin-top: 33vh;
    margin-left: 10vw;
  }

  .manual-btn:hover {
    background-color: transparent;
  }

  /* Footer */
  .footer p {
    font-size: 0.7em;
  }
}

/* Full Mobile */

@media (max-width: 391px) {
  header {
    height: 100vh;
    color: white;
    text-align: center;
    width: 100vw;
    background-size: cover;
    font-size: 0.7em;
  }

  header h1 {
    margin-top: 25vh;
  }

  header a {
    width: 120px;
    font-size: 1.6em;
    margin-top: 20vh;
  }

  header h3 {
    font-size: 1.7em;
    width: 300px;
  }
  /* First Sec */

  .firstsec {
    height: 95vh;
    margin: 0;
    padding: 0;
    display: block;
  }

  .firstsec article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60%;
  }

  .firstsec h1 {
    font-size: 2.6em;
    color: gold;
    padding-top: 40px;
    display: flex;
    justify-content: center;
  }

  .firstsec img {
    display: block;
    margin: 30px auto;
    width: 350px;
  }

  .texto {
    margin: 10px;
    font-size: 0.9em;
    width: 100px;
    text-align: justify;
    padding: 0;
  }

  .texto p {
    height: 80px;
    width: 25vw;
  }

  .texto h3 {
    margin-bottom: 10px;
  }

  .txt {
    width: 350px;
    height: 80vh;
    margin: 0px auto;
    padding: 0;
  }

  #tt1::before {
    content: none;
  }
  #tt2::before {
    content: none;
  }

  #tt3::before {
    content: none;
  }
  /* Second Section */
  .cortesquare {
    padding: 0px 20px;
  }

  .secondsec h1 {
    padding-top: 40px;
  }

  .secondsec p {
    font-size: 1.3em;
  }

  .secondsec article {
    margin: 0px auto;
  }

  .secondsec a {
    font-size: 1.2em;
    margin: 50px auto;
  }
  /* Carrossel e Third Sec */
  .carousel {
    font-size: 0.6em;
    height: 70vh;
  }

  .slider {
    margin: 1vh auto;
    width: 300px;
    height: 200px;
    overflow: hidden;
  }

  .slider img {
    width: 100%;
  }

  .manual-navigation {
    width: 250px;
    margin-top: -220px;
    margin-left: 8vw;
  }

  .navigation-auto {
    width: 250px;
    margin-top: 180px;
    margin-left: 8vw;
  }

  .manual-btn:hover {
    background-color: transparent;
  }

  /* Footer */
  .footer p {
    font-size: 0.7em;
  }
}

@media (max-width: 360px) {
  /* First Sec */

  .firstsec {
    height: 95vh;
    margin: 0;
    padding: 0;
    display: block;
  }

  .firstsec article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60%;
  }

  .firstsec h1 {
    font-size: 2.6em;
    color: gold;
    padding-top: 40px;
    display: flex;
    justify-content: center;
  }

  .firstsec img {
    display: block;
    margin: 30px auto;
    width: 320px;
  }

  .texto {
    margin: 10px;
    font-size: 0.9em;
    width: 100px;
    text-align: justify;
    padding: 0;
  }

  .texto p {
    height: 80px;
    width: 25vw;
    font-size: 1.4em;
  }

  .texto h3 {
    margin-bottom: 10px;
    color: gold;
    font-size: 1.3em;
  }

  .txt {
    width: 350px;
    height: 100%;
    margin: 0px auto;
    padding: 0;
  }

  #tt1::before {
    content: none;
  }
  #tt2::before {
    content: none;
  }

  #tt3::before {
    content: none;
  }

  /* Second Section */
  .secondsec {
    height: 80%;
  }

  .cortesquare {
    padding: 0px 20px;
  }

  .cortes {
    margin: 0px 7px;
  }

  .secondsec h1 {
    padding-top: 40px;
  }

  .secondsec p {
    font-size: 1.4em;
  }

  .secondsec article {
    margin: 0px auto;
  }

  .secondsec a {
    font-size: 1.3em;
    margin: 70px auto;
  }
}
